<h1>Nuevo Tema</h1>
<%= form_with scope: @item, url: temas_crear_path do |f| %>
 <p>
 <label>Nombre</label> <br>
 <%= f.text_field :descripcion %>
 </p>
 <%= f.submit "Enviar", disable_with: 'Submiting...' %>
<% end %>